<!DOCTYPE html>
<html>
	
<body>
<%= yield %>
    <nav class="navbar" style="height:140px; background:#FFFFFF;">
      <p class"logo" ><a href="/"><%=image_tag("ghostwriter_logo.png", 
      style:"display:block;margin-left:auto;margin-right:auto;margin-bottom:25px;padding-top: 25px;padding-bottom: 25px;")%></a></p>
    </nav>
    <%= form_tag({action: :post_input}, multipart: true) do %>
		<header>
			<div class="containter" style="height:720px; overflow-y:scroll;">
			
			<%=image_tag('2_step.png', style: "padding-top:55px; padding-bottom:85px;") %>
			
			<h1 style="font-family:'Helvatica LT compressed'; font-size:55pt; padding-bottom:55px;">Step 2. Type the Text</h1>
			
      
        <textarea name="input" style="width:1020px; height:700px; font-size:20pt; box-shadow:5px 5px 0px 0px rgba(0, 0, 0, 0.25);"></textarea>
      
			
			
			</div>
		</header>

		<!-- The content of your page would go here. -->

		<footer class="footer-distributed" style="background-color:#000000;">

		  <div>
		    <p style="text-align:center">
		      <button type="submit" style="width:1920px; height:120px; border:none; font-family:'Helvatica LT compressed'; font-size:60pt; background-color:#000000; color:#ffffff;">NEXT</a>
		    </p>
		    
		  </div>

		</footer>
		<% end %>
</body>
</html>
